.jumbotron {
    margin: 0;
    padding: 20px;
    background-image: linear-gradient( to right, #362e24,
    #c28845, #f1cf84);
}

.container {
    margin-top: 10px;
}

.row {
    margin-top: 40px;
}

body {
    background-color: rgb(175, 168, 147);
    
    
}

h1, h2, h3 {
    font-family: "Fredoka";
    color: rgb(74, 7, 129);
    font-weight: 800;
}

h3 {
    text-align: center;
    
}

h4 {
    font-family: "Fredoka";
    color: rgb(74, 7, 129);
    font-weight: 900;
}

h5 {
    color: indigo;
    font-weight: 700;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 550;
}

h1 {
    font-size: 100px;
}

.site-footer {
    background-image: linear-gradient( to right, #362e24,
    #c28845, #f1cf84);
    padding: 20px 0;
    margin-top: 40px;
}

.navbar {
    background-color: rgba(49, 33, 2, 0.671)
 }

 .card-header {
    background-image: linear-gradient( to left, #362e24,
    #c28845, #f1cf84);
    
 }

 .card-body {
    background-image: linear-gradient( to right, #534b41,
    #af9373, #e4d3b0);
 }

 img {
     border-style: inset indigo;
     box-shadow: 4px 4px 4px rgba(76, 0, 130, 0.699);
     
 }

 .card {
     box-shadow: 7px 7px 7px rgba(76, 0, 130, 0.699);
 }

 .modal-header {
    background-image: linear-gradient( to left, #362e24,
    #c28845, #f1cf84);
 }

 .modal-body {
    background-image: linear-gradient( to right, #534b41,
    #af9373, #e4d3b0);
 }

 .btn-sm {
     width: 120%;
     background-color: rgb(122, 68, 161);
     color: #e4d3b0;
     box-shadow: 3px 3px 3px #e4d3b094;
     font-size: large;
 }

 small {
     font-size: 13.5px;
     font-weight: bold;
     
 }

 .carousel-item {
     color: indigo;
 }

 

 